/* TOC Bootstrap */

ol.bs-toc, ul.bs-toc 
{
  border: none !important;
  --bs-text-opacity: 1 !important;
  background-color: transparent !important;
  color: var(--toc-color) !important;
}

h1.bs-toc 
{
  color: var(--toc-color) !important;
  border: none !important;
}

hr.bs-toc 
{
  border-radius: 10px !important;
  background-color: steelblue !important;
  border: solid 4px steelblue !important;
  opacity: 1 !important;
}

