/* TOC Bootstrap */

ol.tk-toc, ul.tk-toc 
{
  border: none !important;
  --bs-text-opacity: 1 !important;
  background-color: transparent !important;
  color: var(--toc-color) !important;
}

h1.tk-toc 
{
  color: var(--toc-color) !important;
  border: none !important;
}

hr.tk-toc 
{
  border-radius: 10px !important;
  background-color: var(--toc-color) !important;
  border: solid 4px var(--toc-color) !important;
  opacity: 1 !important;
}

