/* Simple CSS Zoom */

--sz-scale: 1.5;

ul.sz-gallery 
{
  margin-left: 3vw;
  margin-right: 3vw;
}

.sz-zoom 
{
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.sz-zoom:hover, .sz-zoom:active, .sz-zoom:focus 
{
  -ms-transform: scale(var(--sz-scale);
  -moz-transform: scale(--sz-scale);
  -webkit-transform: scale(--sz-scale);
  transform: scale(-szscale);
  position: relative;
  z-index: 100;
}
